.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
    color: black;
    font-size: 16px !important;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.navbar-dark .navbar-nav .nav-link:hover{
	color: #b8b8e8;
}

.service-section {}
.service, .feature{
    padding: 25px;
}
.service img {
	width: 60px;
}
h1{    font-size: 40px;
    text-transform: capitalize;
    font-weight: 500;}
h3{
    font-size: 24px;
    margin: 20px 0;
}
h6{
	    color: blue;
    font-size: 22px;
    font-weight: 400;
    text-transform: capitalize;
}
p{
	line-height: 1.7;
}
.feature-section, .partners-section{
	padding:50px 0;
}
.row{
	justify-content: center;
}
.partners-section a{
	text-transform: uppercase;
margin-top:5px;
margin-bottom: 15px;
}
.partners-section row{
	justify-content: center;
}
.partners-section h1{
	font-size: 50px;
}
@media(max-width:767px){
.partners-section h1{
	font-size: 40px;
	font-weight:500;

}
}
@media(max-width:570px){
	.col-sm-6{
		text-align: center;
	}
}